@import '~srcPath/sass/base/_fn';

$offsetLeft: _(40);
$borderColor: #5e5e5f;

$lightenBg: #192732;//浅色背景

img{
    @include no_select();
}

.personal{

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;

    position: relative;
    height: 100%;
    background-color: #162026;
    color:$baseFontColor;
    .pageTitle{
        position: relative;
        z-index: 2;
        font-size: _(40);
        text-align: center;
        padding-top: _(36);
    }
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-70%);
        background-color: #263137;
        width: 100%;
        height: _(200);
        border-radius: 27%;
    }
}

.baseInfo{
    display: flex;
    height: _(296);
    margin-top: _(20);
    margin-left:$offsetLeft;
    margin-right:$offsetLeft;
    color:$baseFontColor;
    // @include borderBottomAfter($borderColor);
    .leftBox{
        img{
            width: _(176);
            height:  _(246);
            border: 1px solid #7f6d55;
        }
        .personalName{
            text-align: center;
            font-size: _(30);
        }
    }
    .rightBox{
        flex: 1;
        margin-left: _(30);
        font-size: _(28);
        .rightBox-top{
            .cell{
                padding:_(2) 0;
            }
            .eMail{
                color: $baseFontColor;
            }
        }
        .rightBox-bottom{
            @include borderTopBefore($borderColor);
            margin-top:_(5);
            padding-top:_(15);
            .cell-l{
                .lightLine{
                    display: block;
                    width:_(10);
                    background-color: #2b941f;
                    font-size: 0.9em;
                    margin-right: _(8);
                }
            }
            .skill{
                .cell{
                    padding:_(5) 0;
                }
            }
            .icon-linkedin{
                width: _(96);
                height:  _(96);
                margin-right:_(16);
            }
        }
    }
}


.tabButton-box{
    padding-left:$offsetLeft;
    height: _(60);
    padding-top: _(10);
    background-color: $lightenBg;
    display: flex;
    font-size: _(28);
    a{
        color: #d8d8d8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right:_(10);
        padding: 0 _(20);
        border-radius: _(10);
        border:1px solid #535861;
        background: linear-gradient(to top , rgb(124, 124, 124) 2% , rgb(86, 91, 101) 51%);
        box-shadow: _(3) _(3) _(5) #111;
        height: 90%;
        &.tabActive{
            color: $baseFontColor;
            border:1px solid #111;
            border-bottom: none;
            border-top-left-radius: _(10);
            border-top-right-radius: _(10);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: linear-gradient(to top , rgb(35, 49, 57) 21% , rgb(18, 34, 44) 28%);
            box-shadow: none;
            position: relative;
            height: 100%;
            &:after{
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 80%;
                height: _(5);
                transform: translateX(-50%);
                border-radius: 100%;
                background: radial-gradient(center , circle cover , rgb(236, 204, 48) 8% , rgb(142, 142, 142) 87% , rgb(145, 145, 145) 100%);
            }
        }
    }
}

.TabPanle_content{
    margin-top: _(15);
    background-color: #162026;
    color: #e3e3e3;
    font-size: _(28);
    .TabPanle_content_title,.TabPanle_content_text{
        padding:_(15) $offsetLeft;
    }
    .TabPanle_content_title{
        font-weight: bold;
    }
    .TabPanle_content_text{
        background-color: $lightenBg;
        font-size: _(24);
        line-height: 1.5em;
        .cell{
            padding:_(5) 0;
        }
    }
    .demoLink{
        padding:_(3) 0;
        overflow: hidden;
        a{
            display: inline-block;
            float: right;
            text-align: right;
            color: #3b98d0;
            text-decoration: underline;
            font-size: 1.1em;
            text-decoration: 1px;
            margin-left: 1em;
        }
    }
    .arrow--top{
        @include arrow('top',_(16),$borderColor_default,_(4));
        top: 0px;
        transition: all .3s;
    }
    .arrow--bottom{
        @include arrow('bottom',_(16),$borderColor_default,_(4));
        top: -2.5px;
        transition: all .3s;
    }
    &.TabPanle_content--flexible{
        border-bottom: 1px solid #192732;
        &>.TabPanle_content_text{
            padding: 0 $offsetLeft;
            height: 0;
            overflow: hidden;
            transition: all .3s;
            .TabPanle_content_title{
                background-color: $lightenBg;
                &:not(:first-child){
                    @include borderTopAfter();
                }
            }
        }
        .text_offset{
            text-indent: 2em;
        }
    }
}

.lzs-alert{
    z-index: 99;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .lzs-alert__content{
        background-color: #f8f8f8;
        width: _(520);
        // height: _(320);
        border-radius: _(8);
        font-size: _(32);
        color: #383838;
        text-align: center;
        .lzs-alert__content__cont{
            padding: _(36) _(12);
            line-height: 1.4;
        }
        .lzs-alert__content__btngroup{
            @include borderTopBefore();
            padding: _(24) 0;
            color: #3b98d0;
        }
    }
}

html, body, .container{background-color: #333 !important;}
#logo {
  stroke-dasharray: 2.42777px, 231.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.6s linear infinite;
}
@-webkit-keyframes anim {
  12% {
    stroke-dasharray: 33.98873px, 231.77666px;
    stroke-dashoffset: -26.70543px;
  }
  45% {
    stroke-dasharray: 84.97183px, 231.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 231.77666px;
    stroke-dashoffset: -240.34889px;
  }
}