$maxWidth:640px;
$baseFont:"Arial", "Helvetica", "sans-serif","Microsoft YaHei";
$baseFontSize:14px !default;
$baseFontColor:#3d4145 !default;
//整体
$topBarHeight:3rem !default;
$footerNavHeight:2.5rem !default;

//border颜色
$borderColor_default:#cecece !default;
$borderColor_darken:darken($borderColor_default,10%) !default;

//页面风格//
$mainColor:#ff284c !default;//主色调
$orangeColor:#f89901 !default;//橙色

//列表间隔
$listMargin:0.5rem !default;