@import '../../base/_fn';
$paddingTb:12px;
$paddingLR:14px;
.popup-buy{
    top:40% !important;
    height: 60% !important;
    font-size: 14px;
    overflow: visible;
    & #close-popup-buy{
        position: absolute;
        right: 3%;
        transform: translateY(-50%);
        display: block;
        width: 26px;
        height: 26px;
        & img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    & .popup-buy-content{
        position: absolute;
        top: 15px;
        left: 0;
        bottom: 72px;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    & .popup-goodInfo{
        display: flex;
        position: relative;
        padding:$paddingTb $paddingLR;
        & .popup-goodImg{
            flex-basis: 110px;
            flex-shrink: 0;
            max-width: 110px;
            height:65px;
            overflow: hidden;
            & img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        & .popup-goodName{
            padding-left: 0.5em;
            color: $baseFontColor;
        }
    }
    & .popup-goodNum{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding:$paddingTb $paddingLR;
    }
    & .popup-goodFooter{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding:$paddingTb $paddingLR;
    }
}