//"进入的页面"直接切换到"离开的页面"动画(等于无动画)
.pageTranstion-A{
  &.pageAnimation-enter {
      z-index: 1023;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 0.3s ease;
      &.pageAnimation-enter-active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
      }
  }

  &.pageAnimation-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 0.4s ease;
      &.pageAnimation-leave-active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
      }
  }
}

//"进入的页面"覆盖"离开的页面"动画
.pageTranstion-B{
  &.pageAnimation-enter {
      z-index: 1024;
      opacity: 1;
      transform: translate3d(100%, 0, 0);
      transition: all 0.5s ease;
      &.pageAnimation-enter-active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }

  &.pageAnimation-leave {
      z-index: 1024;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: all 0.5s ease;
      &.pageAnimation-leave-active {
          opacity: 0.01;
          transform: translate3d(100%, 0, 0);
      }
  }
}