//"进入的页面"直接切换到"离开的页面"动画(等于无动画)
.pageTranstion-A{
  &.pageAnimation-enter {
      z-index: 1023;
      opacity: 1;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
      transition: all .3s ease;
      &.pageAnimation-enter-active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
      }
  }

  &.pageAnimation-leave {
      opacity: 1;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
      transition: all .3s ease;
      &.pageAnimation-leave-active {
          transform: translate3d(0, 0, 0);
          opacity: 1;
      }
  }
}

//"进入的页面"覆盖"离开的页面"动画
//进入动画,如果使用sui的animation-pageFromRightToCenter,在真机测试时,会出现闪烁的问题
//离开动画,如果使用transition来做,在真机测试时,会出现0.5s内无法出现过渡效果的问题
.pageTranstion-B{
  &.pageAnimation-enter {
      z-index: 1024;
      opacity: 1;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transform: translate3d(100%, 0, 0);
      transition: all .5s ease;
      &.pageAnimation-enter-active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }

  &.pageAnimation-leave {
      transform-style: preserve-3d;
      backface-visibility: hidden;
      -webkit-animation: pageFromCenterToRight .4s forwards;
      animation: pageFromCenterToRight .4s forwards;
      z-index: 1024;
      &.pageAnimation-leave-active {
          
      }
  }
}

/*sui切换.demo*/
.page-from-right-to-center {
    -webkit-animation: pageFromRightToCenter .4s forwards;
    animation: pageFromRightToCenter .4s forwards;
    z-index: 2002
}

.page-from-center-to-right {
    -webkit-animation: pageFromCenterToRight .4s forwards;
    animation: pageFromCenterToRight .4s forwards;
    z-index: 2002
}

@-webkit-keyframes pageFromRightToCenter {
    from {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity: .9
    }

    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes pageFromRightToCenter {
    from {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity: .9
    }

    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes pageFromCenterToRight {
    from {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1
    }

    to {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity: .9
    }
}

@keyframes pageFromCenterToRight {
    from {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1
    }

    to {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        opacity: .9
    }
}

.page-from-center-to-left {
    -webkit-animation: pageFromCenterToLeft .4s forwards;
    animation: pageFromCenterToLeft .4s forwards
}

.page-from-left-to-center {
    -webkit-animation: pageFromLeftToCenter .4s forwards;
    animation: pageFromLeftToCenter .4s forwards
}

@-webkit-keyframes pageFromCenterToLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    to {
        opacity: .5;
        -webkit-transform: translate3d(-20%,0,0);
        transform: translate3d(-20%,0,0)
    }
}

@keyframes pageFromCenterToLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    to {
        opacity: .5;
        -webkit-transform: translate3d(-20%,0,0);
        transform: translate3d(-20%,0,0)
    }
}

@-webkit-keyframes pageFromLeftToCenter {
    from {
        opacity: .5;
        -webkit-transform: translate3d(-20%,0,0);
        transform: translate3d(-20%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes pageFromLeftToCenter {
    from {
        opacity: .5;
        -webkit-transform: translate3d(-20%,0,0);
        transform: translate3d(-20%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}