@import '../../base/_fn';
.footerNav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footerNavHeight;
    background-color: #f8f8f8;
    z-index: 1;
    ul{
        display: flex;
        height: 100%;
        position: relative;
        @include borderTopAfter();
        li{
            flex: 1;
            justify-content: center;
            height: 100%;
            display: flex;
            position: relative;
            @include borderRightAfter();
            a{
                justify-content: center;
                height: 100%;
                line-height: $footerNavHeight;
                color:#333;
            }
        }
    }
    .navActive{
        text-decoration: underline;
    }
}