@import '../../base/_fn';
.content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: #f8f8f8;
    // font-size: 16px;
    // overflow: auto;
    // overflow-x: hidden;
    // -webkit-overflow-scrolling: touch;
}
.topBar~.content{
    top: $topBarHeight;
}
.footerNav~.content{
    bottom: $footerNavHeight;
}
.routerContent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}