@import '../../base/_fn';
.numberInputBox{
	display: flex;
	align-items: center;
	background-color: #fff;
	position: relative;
	&>a{
		display: block;
		font-size: 20px;
		width: 35px;
		height: 30px;
		color:$baseFontColor;
		text-align: center;
		line-height: 30px;
		position: relative;
		z-index: 2;
	}
	&:after{
		content: "";
		width: 200%;
		height: 200%;
		border: solid 1px #000;
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(0.5);
		transform-origin: top left;
	}
}
.numberInputLeft{
	line-height: 28px !important;
	&:after{
		@include borderRight;
		top: 0;
		right: -1px;
		border-color: #000;
	}
}
.numberInputRight{
	&:after{
		@include borderLeft;
		top: 0;
		left: 0;
		border-color: #000;
	}
}
.numberInputMid{
	-webkit-appearance: none;
	border: none;
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 5px;
	position: relative;
	background-color: transparent;
	z-index: 2;
}
.touchPlus{
	background: rgba(204, 204, 204, 0.6);
}
.touchReduce{
	background: rgba(204, 204, 204, 0.6);
}