@charset "UTF-8";
@import '../base/_fn';
.mySearchBar{
    font-size: 16px;
    position: relative;
    top: 0px;
    background-color: lighten($mainColor,2%);
    color: #fff;
    display: flex;
    overflow: hidden;
    &:after{
        height:0 !important;
    }
    & .citySelect{
        min-width: 70px;
        flex-shrink: 0;
        margin-right:3px;
        display: flex;
        align-items: center;
        & .icon{
            margin-left: 6px;
        }
    }
    & .searchbar{
        background-color: transparent;
        width: 100%;
        padding-top: 0.25rem;
    }
    & .search-input .icon{
        color: #fff;
    }
    & .search-input input{
        border-radius: 100em;
        background-color: rgba(255,255,255,0.35);
        height: 1.7rem;
        color: #fff;
        &::-webkit-input-placeholder{
            color:#fff !important;
        }
    }
    & .searchbar .searchbar-cancel{
        color: #fff;
        height: 1.7rem;
        line-height: 1.7rem;
    }
}
.borer-dashed{
    &:after{
        @include setBottomLine();
        border-bottom:1px dashed $borderColor_lighten;
    }
}
.categoryList{

    $paddingLR:10px;
    $paddingTB:10px;
    $contentInner_height:85px;

    & .categoryList-item{
        background-color: #fff;
        margin: 0 0 $listMargin 0;
    }
    & .categoryList-header{
        position: relative;
        padding: 0 $paddingLR;
        height: 40px;
        line-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before{
            content:"";
            position: absolute;
            top: 50%;
            left: $paddingLR;
            transform: translate3d(0,-50%,0);
            height: 15px;
            width: 4px;
            background-color: $mainColor;
        }
        & h4{
            font-size: 14px;
            margin-left: 10px;
            margin-top: 0;
            margin-bottom: 0;
            @include ellipsis(100%);
        }
        & .locationKM{
            $lightenColor:lighten($mainColor,10%);
            color: $lightenColor;
            font-size: 12px;
            border-radius: 100em;
            border:1px solid $lightenColor;
            text-align:center;
            height: 1.5em;
            line-height: 1.5em;
            padding:0 0.75em;
            white-space: nowrap;
            word-wrap: normal;
        }
    }
    & .categoryList-content{
        height: 2 * $contentInner_height;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }
    & .categoryList-content-inner{
        position: relative;
        padding: $paddingTB $paddingLR;
        height: $contentInner_height;
        display: flex;
        &:first-child{
                margin-top:0.5px;
                &:before{
                    @include setTopLine();
                    border-top:1px dashed $borderColor_lighten;
                }
        }
        &>div{
            height: 65px;
            overflow: hidden;
        }
        & .pic{
            flex-basis: 110px;
            flex-shrink: 0;
            max-width: 110px;
            & img{
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        & .goodsText{
            width: 100%;
            padding:0 0.5em;
            &>p{
                font-size: 12px;
                line-height: 1.5;
                @include ellipsisLn(3);
                @include text_wrap;
                letter-spacing: 0px;
            }
            & .orangeBg{
                font-size: 10px;
                background-color: #eeae50;
                color: #fff;
                padding:2px 4px;
            }
        }
        & .goodsPrice-warp{
            flex-shrink: 0;
            letter-spacing: 0;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            &>div{
                flex-basis: 20px;
                flex-shrink: 0;
            }
        }
        & div.redBg{
            display: none;/*一期不显示*/
            flex-basis: 14px;
            background-color: $mainColor;
            color: #f2f2f2;
            text-align: center;
            width: 6em;
            line-height: 14px;
        }
        & div.priceOld{
            font-size: 12px;
            color: #999;
            text-align: center;
            margin:5px 0;
        }
        & div.priceNow{
            font-size: 18px;
            color: $mainColor;
            line-height: 20px;
            height: 20px;
            letter-spacing: 0px;
        }
    }
    & .categoryList-footer{
        position: relative;
        top: -1px;
        display:none;
        text-align: center;
        padding: 0 $paddingLR;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        &:after{
            @include setTopLine();
            border:1px dashed $borderColor_lighten;
        }
        & .moreBtnIcon{
            margin-left: 5px;
            margin-bottom: 1px;
            font-size: 0.9em;
        }
    }
}

//activityList
.myActivityBar{
    font-size: 16px;
    position: relative;
    top: 0px;
    color: lighten($mainColor,2%);
    display: flex;
    overflow: hidden;
    &:after{
        height:0 !important;
    }
    & .citySelect{
        flex-basis: 70px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        & .icon{
            margin-left: 6px;
        }
    }
    & .myActivityTime-box{
        background-color: transparent;
        width: 100%;
        color: $baseFontColor;
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .myActivityTime{
        display: inline-flex;
        position: relative;
        line-height: 1.8rem;
        font-size:14px;
        &:before{
            @include setLeftLine;
            border-left: 1px dashed $borderColor_default;
        }
        &:after{
            @include setRightLine;
            border-right: 1px dashed $borderColor_default;
        }
        & .myActivityTime-left,& .myActivityTime-right{
            position: relative;
            & .myActivityTime-text{
                position: relative;
                height: 100%;
                display: block;
                padding: 0 1em;
                &:before{
                    content:"";
                    position:absolute;
                    display: block;
                    width: 2px;
                    height: 2px;
                    background-color: $borderColor_default;
                    top: -1px;
                    right: 0;
                }
                &:after{
                    content:"";
                    position:absolute;
                    display: block;
                    width: 2px;
                    height: 2px;
                    background-color: $borderColor_default;
                    bottom: -1px;
                    right: 0;
                }
                &.myActivityTime-text-day{
                    &:before{
                        left: 0;
                    }
                    &:after{
                        left: 0;
                    }
                }
            }
            &:before{
                @include setTopLine;
                border-top: 1px dashed $borderColor_default;
            }
            &:after{
                @include setBottomLine;
                border-bottom: 1px dashed $borderColor_default;
            }
        }
        & .myActivityTime-middle{
            position: relative;
            width: 20px;
            &>div{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
            }
            &>div>span{
                padding: 2px 3px;
                height: 28px;
                color: #fff;
                font-size: 20px;
                background-color: $mainColor;
                box-shadow: 1px 2px 4px #ccc;
                &:first-child{
                    margin-right:5px;
                }
            }
        }
    }
}

//city-select
.popup-city{
    .popup-city-item{
        padding:10px 10px;
    }
    .popup-city-title{
        margin:0;
        font-weight: 500;
        background-color:#efeff4;
        padding:5px 10px;
        font-size:12px;
    }
    .matchingCity{
        display:none;
    }
    .mySearchBtn{
        background-color: $mainColor;
        border-color: $mainColor;
        &:active{
             background-color: darken($mainColor,10%);
            border-color: darken($mainColor,10%);
        };
    }
    .cityList{
        display: block;
        overflow: hidden;
        &>li{
            
            width: 25%;
            height: 36px;
            line-height: 36px;
            float:left;
            text-align: center;
            font-size: 13px;
            padding:2px;
            &>span{
                display: block;
                @include ellipsis(100%);
                border: 1px solid #e0e0e0;
                height: 32px;
                line-height: 32px;
                &:active{
                    background-color:#f6f6f6;
                }
            }
        }
    }
    & .popup-city-offset,& .popup-city-close{
        height: 36px;
        line-height: 36px;
        width: 100%;
    }
    & .popup-city-close{
        width: 100%;
        text-align: center;
        a{
            background-color: lighten($mainColor,2%);
            color: #fff;
            display: block;
            width: 100%;
            font-size: 14px;
            &:active{
                background-color: darken($mainColor,10%);
            }
        }
    }
}