@import '../base/_fn';
.contacts{
    .formList{
        display: flex;
        flex-direction: column;
        .item{
            position: relative;
            height: 40px;
            padding: 8px 10px;
            display: flex;
            align-items: center;
            @include borderBottomAfter();
            input{
                margin-left:10px;
                height: 100%;
                border: none;
                padding-left:0.5em;
            }
        }
    }
    .addBtn{
        display: block;
        margin:0 auto;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        background: dodgerblue;
        color: white;
        text-align: center;
    }
    .list{
        display: flex;
        flex-direction: column;
        li{
            position: relative;
            padding:8px;
            @include borderBottomAfter();
            &:hover .deleteItem{
                color:mediumvioletred;
            }
            .deleteItem{
                color: red;
                margin-right: 3px;
                float:right;
                text-decoration: underline;
            }
            &:hover .detailItem{
                color:darkblue;
            }
            .detailItem{
                color: blueviolet;
                margin-right: 3px;
                float:right;
                text-decoration: underline;
            }
        }
    }
    
}