@import '../base/_fn';

.confirm {
  li{
    background: white;
  }
  li>div{
    padding: 0 10px;  
  }
  & li{
    padding: 14px 0;
  }
  & .phone{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    &>div:first-child{
        flex:1;
    }
  }
  & .order{
    display: flex;
    color: #BEBEBE;
  }
  & .goodBox{
    display:flex;
    & .goodImgBox{
        flex-shrink: 0;
        flex-basis: 110px;
        height: 65px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .goodsText{
        padding: 0 0.5em;
        margin-top: 5px;
        font-size: 12px;
        width: 100%;
        @include ellipsisLn(3);
        height:4.5em;
        line-height: 1.5;
    }
    & .goodsPrice-warp{
        margin-top: 5px;
        display: flex;
        flex-flow: column;
        flex-shrink: 0;
        font-size: 14px;
        text-align: right;
    }
  }

  & .moneyBox{
    display: flex;
    justify-content: space-around;
    &>div{
        width: 100%;
    }
  }

  .weui_btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 2.33333333;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
}
.weui_btn:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}
  
}

//paySuccess
#paySuccess{
    font-size: 14px;
    background:#fff;
}
.payResult{
   .payTitle{
        font-size: 16px;
        padding:20px 10px;
        background-color: #fff;
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &>img{
            height:33px;
            width:33px;
            margin-left: 13px;
        }
    }
    .payInfoBox{
        color: #b5b5b5;
        padding: 14px 10px;
        &>p{
            margin:8px 0;
        }
        .carNum{
            color: #333;
            font-size: 16px;
            font-weight: border;
        }
    }
    .payBtnGrounp{
        padding: 48px 5%;
        display:flex;
        justify-content: space-around;
        align-items:center;
        border-top:0.5rem solid #efeff4;
        border-bottom:0.5rem solid #efeff4;
        &>div{
            display:block;
            letter-spacing: 1px;
            border:1px solid $mainColor;
            border-radius: 3px;
            width: 42%;
            text-align: center;
            line-height: 38px;
            height: 38px;
            &:first-child{
                color:$mainColor;
            }
            &:last-child{
                color:#fff;
                background-color: $mainColor;
            }
        }
    }
}
