@import '../base/_fn';
.contacts{
    .formList{
        display: flex;
        flex-direction: column;
        .item{
            position: relative;
            height: 40px;
            padding: 8px 10px;
            display: flex;
            align-items: center;
            @include setBottomLineAfter();
            input{
                margin-left:10px;
                height: 100%;
                border: none;
            }
        }
    }
}