@import '../base/_fn';
.login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img{
		width: 86px;
		margin-top:90px;
		border-radius: 5px;
	}
	h5{
		font-size: 16px;
		margin-top:0.75em;
	}
	label{
		display: flex;
		margin-left:6%;
		width: 94%;
		padding:0.5em 0;
		border-bottom:1px solid #d3d3d3;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 26px;
	}
	input{
		flex: 1;
		padding:3px 0 3px 3em;
		border: none;
		outline: none;
		background-color: transparent;
	}
	button{
		width: 90%;
	}
	p{
		margin-top: 20px;
		font-size: 14px;
		color: #5792b2;
	}
}