@import '../base/_fn';
#my{
	font-size:14px;
	background-color: #fff;
	.list{
		&>ul.offset{
			height: 100%;
			flex-shrink: 0;
		}
		&>ul{
			border-top: 0.5rem solid #eee;
		}
		& li{
			padding: 14px 12px;
			background:#fff;
			position:relative;
			line-height:1.75;
		}
	}

	& .head_b{
		position: relative;
		background: url(../../images/my/bg.png) center no-repeat;
		background-size:100% 100%;
		width: 100%;
		padding-top:42.667%;
		.head_content{
			width: 100%;
			position: absolute;
			text-align: center;
			top: 50%;
			color: #fff;
			font-size: 1.25rem;
			letter-spacing: 0.5px;
		}
	}
	& .orderBtnGround{
		position: relative;
		display: flex;
		&>div{
			position: relative;
			flex:1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding:10px 0;
		}
		& .order_img_c{
			width: 38px;
		}
		& .dot{
		      background: red;
		      height: 15px;
		      width: 15px;
		      border-radius: 50%;
		      color: white;
		      font-size: 10px;
		      position: absolute;
		      top: 0px;
		      transform: translateX(-50%);
		      line-height: 15px;
		      text-align: center;
		}
		& .orderBtnName{
			align-self: flex-end;
			margin-left: 1em;
		}
	}
	& li .name{
	        flex: 1;
	        padding-left: 10px;
	}
	.img_left{
		height: 23px;
		position: relative;
		display: flex;
	}
	.displayFlex{
		display:flex;
	}
}