@import '../base/_fn';

html, body, .container{
    background-color: #745529;
    max-width: 1024px;
    // background: url(~srcPath/img/yys_bg.jpg);
}
.shakeTree{
	overflow: hidden;
	min-height: 16.7733rem;
    height: 100%;
	position: relative;
}

img{
    @include no_select();
}

.yys_Bg{
    width: 100%;
    background-color: #83bef0;
}

.font{
	font-size: 0.373333rem;
	width: 100%;
    padding-top: 3.2533rem;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    p{
    	margin:0.306667rem 0;
    }
    .bar-box{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .barBg{
        width: 2.88rem;
        height: 0.666667rem;
        align-self:center;
    }
    .barCon{
    	position: absolute;
    	width: 2.1rem;
    	height: 0.186667rem;
        left:3.63rem;
        top:0.235rem;
        .barCon-mask{
            position: absolute;
            top: 0;
            left:0;
            transition:width 0.1s;
            height: 100%;
            overflow: hidden;
        }
        img{
            position: absolute;
            top: 0;
            left:0;
            display: block;
            height: 100%;
            max-width: 2.07rem;
            width: 2.07rem;
        }
    }
}

.head{
    width: 100%;
    padding-top: 5.826667rem;
    position: absolute;
    top:0;
    left:0;
    .head-box{
        position: relative;
    }
}

$animationTime : 1.3s;//动画执行一个循环的时间

.sjy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5.92rem;
    padding-left: 0.533333rem;
    img{
    	display: block;
    	width: 1.12rem;
    	height: 1.04rem;
    	animation: sjyRun $animationTime ease-in-out 0s infinite !important;
    }
}

@-webkit-keyframes sjyRun {
    0% {
        transform:translate3d(0,0,0) scale(0.9);
    }
    50% {
        transform:translate3d(5%,10%,0);
    }
    100% {
        transform:translate3d(0,0,0) scale(0.9);
    }
}
@keyframes sjyRun {
    0% {
        transform:translate3d(0,0,0) scale(0.9);
    }
    50% {
        transform:translate3d(5%,10%,0);
    }
    100% {
        transform:translate3d(0,0,0) scale(0.9);
    }
}

.tree{
    display: block;
    width: 9.333333rem;
    height: 11.973333rem;
	position: absolute;
	right:0.266667rem;
	transition:all 0.2s;
	transform:translate3d(0,0,0) rotate(0);
	transform-origin:right bottom;
	animation: treeRun $animationTime ease-in-out 0s infinite !important;
	/*&.up{
		transform:translate3d(0,0,0) rotate(2deg);
	}
	&.down{
		transform:translate3d(0,0,0) rotate(-6deg);
	}*/
}

@-webkit-keyframes treeRun {
    0% {
        transform:translate3d(0,0,0) rotate(0);
    }
    50% {
        transform:translate3d(0,0,0) rotate(-4deg) scale(0.97);
    }
    100% {
        transform:translate3d(0,0,0) rotate(0);
    }
}
@keyframes treeRun {
    0% {
        transform:translate3d(0,0,0) rotate(0);
    }
    50% {
        transform:translate3d(0,0,0) rotate(-4deg) scale(0.97);
    }
    100% {
        transform:translate3d(0,0,0) rotate(0);
    }
}

.start{
    position: relative;
    z-index: 2;
    /*transform-origin:right bottom;*/
    /*animation: treeRun $animationTime ease-in-out 0s infinite !important;*/
    img{
        position: absolute;
        z-index: 1;
    	display: block;
    	opacity: 1;
    	animation: startRun 2 * $animationTime ease-in-out 0s infinite !important;
    }
    .s1{
    	width: 0.386667rem;
    }
    .s2{
    	width: 0.306667rem;
    }
    .s3{
    	width: 0.466667rem;
    }
    .s4{
    	width: 0.28rem;
    	height: 1.12rem;
    }
    .postion1{
        top:6rem;
        left:2.3rem;
    }
    .postion2{
        top:6.5rem;
        left:3.6rem;
    }
    .postion3{
        top:6.5rem;
        left:5.5rem;
    }
    .postion4{
    	width: 0.33rem;
        top:7.6rem;
        left:5.4rem;
    }
    .postion5{
        top:6.5rem;
        right:2.2rem;
    }
    .postion6{
        top:4.5rem;
        right:0.7rem;
    }
    .postion7{
    	width: 0.3rem;
        top:6.2rem;
        left:5rem;
    }
    .postion8{
        top:7rem;
        left:4.5rem;
    }
    .postion9{
        top:8rem;
        left:4.8rem;
    }
}
@-webkit-keyframes startRun {
    0% {
        transform:translate3d(0,0,0) scale(0.1);
        opacity: 0.01;
    }
    55% {
        transform:translate3d(0,0,0) scale(0.1);
        opacity: 0.01;
    }
    60%{
    	transform:translate3d(0,0,0) scale(0.5);
        opacity: 0.3;
    }
    100% {
    	transform:translate3d(0,5.2rem,0) scale(0.9);
        opacity: 1;
    }
}
@keyframes startRun {
    0% {
        transform:translate3d(0,0,0) scale(0.1);
        opacity: 0.01;
    }
    55% {
        transform:translate3d(0,0,0) scale(0.1);
        opacity: 0.01;
    }
    60%{
    	transform:translate3d(0,0,0) scale(0.5);
        opacity: 0.3;
    }
    100% {
    	transform:translate3d(0,5.2rem,0) scale(0.9);
        opacity: 1;
    }
}