@import '../../base/_fn';
.homeBanner{
  & .swiper-container{
    padding-bottom: 0;
  }
  & .swiper-container-horizontal>.swiper-pagination{
    bottom:0;
  }
  & .swiper-slide img{
    @include pTimgChild;
  }
  & .swiper-pagination-bullet{
    width:6px;
    height:6px;
  }
  & .swiper-pagination-bullet-active{
    background:$mainColor;
  }
  &.pTimgBox_42667 .swiper-slide{
    @include pTimgBox(42.667%);
  }
  &.pTimgBox_49067 .swiper-slide{
    @include pTimgBox(49.067%);
  }
}